# Fichiers d'environnement
.env
.env.local
.env.*.local

# Dépendances
node_modules/

# Build Next.js
.next/
out/

# Fichiers de cache
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers temporaires
*.log
*.pid
*.seed
*.pid.lock

# Fichiers de configuration IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp